{# {{ page | inspect }} #}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{pageTitle}}</title>
    {# deliberately early non-deferred use of theme toggle to render the color-scheme correctly while loading #}
    <script type="module" src="/@input/js/theme-toggle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels" defer></script>


    {%- include "partials/meta-tags.njk" -%}
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
  </head>

  <body class="{{page.fileSlug}}">
    {{ linkc(cms.links['skip-to-content'], 'skip to content', id='skip-to-content') }}
    {% include 'partials/header.njk' %}
    {% include 'partials/main.njk' %}
    {% include 'partials/footer.njk' %}
  </body>

</html>