body.age {
  main {
    gap: var(--size-7);

    > * {
      grid-template-columns: 1fr;
      place-self: center;
      min-inline-size: 60vh;
      text-align: center;
      padding: var(--size-3);
      gap: var(--size-2);
    }

    fieldset {
      padding: 0;
      display: flex;
      align-items: center;
      place-content: center;
      input {
        inline-size: var(--size-4);
        block-size: var(--size-4);
        translate: 0 0.1rem;
      }
    }

    strong {
      font-size: var(--font-size-3);
    }

    input[type='number'] {
      inline-size: 8ch;
      background-color: var(--surface-1);
      color: var(--text-1);
      padding-block: var(--size-3);
    }

    ul {
      display: grid;
      grid-auto-rows: min-content;
      min-block-size: 50vh;

      li:first-of-type {
        background-color: var(--surface-1);
        outline: 1px var(--text-1);
        outline-style: groove;
        translate: 0 var(--size-000);
        > * {
          font-weight: var(--font-weight-9);
        }
      }
      li {
        max-inline-size: unset;
        place-self: center;
        display: grid;
        grid-template-columns: 8ch 20ch 25ch 15ch 8ch 4ch;
        gap: var(--size-2);
        text-align: right;
        padding-inline-end: var(--size-3);
        background-color: var(--surface-1);

        &[false] {
          background-color: red;
          p {
            color: white;
          }
        }

        p {
          font-size: var(--font-size-fluid-0);
        }
        > p:nth-of-type(1) {
          font-weight: var(--font-weight-9);
        }
      }
    }
  }
}
