body.join-family-members {
  main {
    > section {
      padding: var(--size-3);
      --article-size: 28ch;
    }
    article {
      section:first-of-type {
        padding-block-end: var(--size-4);
        border-block-end: 1px solid var(--text-1);
        place-self: start;
      }

      section {
        gap: unset;
        inline-size: 100%;
        &:nth-of-type(1n + 2) {
          place-self: start;
          display: flex;
          gap: var(--size-2);
          p:first-of-type {
            margin-inline-start: auto;
          }
        }
        p {
          place-items: start;
        }

        form {
          margin-inline-start: auto;
        }
      }

      // section:nth-of-type(1n + 2) {
      //   background-color: pink;
      // }

      text-align: center;
      padding: var(--size-3);
    }
  }
}
