body.membership {
  main {
    > section {
      grid-template-columns: 1fr;
      gap: var(--size-1);
      h3 {
        text-align: center;
      }

      > section {
        --article-size: 25ch;

        padding-block: var(--size-2);
        padding-inline: var(--size-2);
        gap: var(--size-3);
      }
    }

    article {
      background-color: var(--surface-3);

      grid-auto-rows: max-content;
      padding-block: var(--size-3);
      padding-inline: var(--size-3);
      place-self: stretch;
      aspect-ratio: unset;
      max-width: 30ch;

      h2 {
        font-size: var(--font-size-5);
      }

      button {
        --_size: 0.75rem;
      }

      p {
        text-align: center;
      }

      > section {
        border-block-end: 3px solid var(--text-1);
        padding-block-end: var(--size-3);
        inline-size: 100%;
        gap: var(--size-1);
      }

      li {
        padding-block-end: var(--size-2);
        border-block-end: 0.1px solid var(--text-1);
        display: grid;
        section {
          // place-self: center;
          gap: 0;
          line-height: 1;
          small {
            text-align: center;
          }
          > small:last-of-type {
            margin-block-end: var(--size-1);
          }

          section {
            display: flex;
            gap: var(--size-1);
            align-items: center;
            p:nth-child(1) {
              font-weight: var(--font-weight-7);
              margin-inline-start: auto;
            }
            p:nth-child(2) {
              display: grid;
              place-items: start;
              line-height: 1;
            }

            form:nth-of-type(1) {
              margin-inline-start: auto;
            }
          }
        }
      }
    }
  }
}
