body.stripe-customer {
  main {
    input {
      background-color: var(--surface-2);
    }

    small {
      font-style: italic;
    }

    label[for] {
      display: flex;
      flex-wrap: wrap;
      gap: var(--label-space);
      align-items: center;
      input[type='text'],
      input[type='email'] {
        min-inline-size: 10ch;
        inline-size: 40ch;
      }

      input[type='text'][id='postcode'] {
        min-inline-size: 10ch;
        inline-size: 10ch;
      }
      input[type='text'][id='let-me-say'] {
        min-inline-size: 10ch;
        inline-size: 10ch;
      }
      span {
        inline-size: var(--label-size);
      }
    }

    form {
      --label-space: var(--size-2);
      --label-size: max-content;

      place-self: center;
      min-width: 50vw;
    }
  }

  #purchase {
    display: flex;
    align-items: center;
    justify-content: center;
    #recurring {
      display: grid;
      gap: 0;
      line-height: 1;
    }
    p {
      margin-inline-start: auto;
    }
    small {
      margin-inline-end: auto;
    }
    label:first-of-type {
      margin-inline-start: auto;
    }
    input {
      inline-size: 8ch;
    }
  }

  #pay {
    border: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    button {
      color: var(--text-1);
    }
  }

  #abandon {
    grid-column: 1 / -1;
  }

  #customer {
    --label-size: 5ch;
    grid-template-columns: 1fr 1fr;

    #new-or-existing {
      display: flex;
      align-items: center;
    }
  }

  #gender,
  #preferences {
    section {
      display: flex;
    }
  }
  #postcode-autocomplete,
  #postcode-addresses,
  #email-autocomplete,
  #name-autocomplete {
    display: none;
    position: absolute;
    background-color: var(--surface-1);
    z-index: var(--layer-important);
    padding: var(--size-2);
    width: 10ch;
    height: 20vh;
    border: 1px solid var(--text-1);
    border-radius: var(--size-2);
    overflow-y: scroll;
  }

  #postcode-addresses,
  #name-autocomplete,
  #email-autocomplete {
    padding: var(--size-2);
    width: 70ch;
    li {
      overflow-y: scroll;
      text-overflow: ellipsis;
    }
  }
}
