<section>
  <label for="search"><h2>Customer Age</h2></label>
  <fieldset>
    <fieldset>
      <input type="number" name="search" id="search" autofocus>
    </fieldset>
    <fieldset>
      <label for="active"><b>active</b></label>
      <input type="checkbox" name="active" id="active" checked>
    </fieldset>
      <fieldset>
      <label for="ascending"><b>ascending</b></label>
      <input type="checkbox" name="ascending" id="ascending" checked>
    </fieldset>
  </fieldset>

  <i>find customers over certain age</i>
</section>
<section>
  <ul class="placeholder"></ul>
</section>
