{{ h1('card finder')}}

<section>
  <label for="search"><h2>Customer Name</h2></label>
  <input type="text" name="search" id="search" autofocus>
</section>
<section>
  <ul class="placeholder"></ul>
</section>
