<section class="card-checker">
  <form class='card-checker' action="?">
    <label for="cardnumber">
      <strong>Card Number</strong>
      <input type="text" name="cardnumber" id="cardnumber" autofocus>
    </label>
  </form>
</section>

{# this gets replaced by the check #}
<section class="placeholder"></section>