<section>
  <label for="search"><h2>Customer Name</h2></label>
  <input type="text" name="search" id="search" autofocus>
  <i>find customer by name</i>
</section>
<section>
  <ul class="placeholder"></ul>
</section>
