<section>
  <label for="search"><h2>Customer Name</h2></label>

  <fieldset>
    <input type="text" name="search" id="search" autofocus>
    <fieldset>
      <label for="active"><b>active</b></label>
      <input type="checkbox" name="active" id="active" checked>
    </fieldset>
  </fieldset>
  <i>find customer by name</i>
</section>
<section>
  <ul class="placeholder"></ul>
</section>
