{% if joinFamilyMembers %}
  <section>
  {% for product in joinFamilyMembers %}
    <article>
      <section>
        <h2>{{product.name}}</h2>
        <p>{{product.description}}</p>
      </section>
        <ul class="price-list">
          {% for price in product.prices %}
            <li>
              <section>
                <small>{{price.nickname}}</small>
                {% if price.interval !== 'once' %}
                  <p><small>per</small><small>{{price.interval}}</small></p>          
                {% endif %}
                <p>{{price.price}}</p>
                <form action="{{price.link.url}}" target="_blank">
                  <button>Card</button>
                </form>
                <form action="{{price.link.url}}" target="_blank">
                  <button>Cash</button>
                </form>
              </section>
            </li>
          {% endfor %}
        </ul>

    </article>
  {% endfor %}  
  </section>
{% endif %}