{% if membership %}
{% for category in membership %}
  <section>
    <h3>{{category.name}}</h3>
    <section>
    {% for product in category.products %}
      <article>
        <section>
          <h2>{{product.name}}</h2>
          <p>{{product.description}}</p>
        </section>
          <ul class="price-list">
            {% for price in product.prices %}
              <li>
                <section>
                  {% if price.type %}
                    <small>{{price.name}}</small>
                    {% if price.description %}
                    <small>{{price.description}}</small>
                    {% endif %}          
                  {% endif %}
                  <section>
                    <p>{{price.price}}</p>
                    {% if price.interval !== 'once' %}
                      <p><small>per</small><small>{{price.interval}}</small></p>          
                    {% endif %}
                    <form action="{{price.link.url}}" target="_blank">
                      <button>Card</button>
                    </form>
                    <form action="/stripe-customer/">
                      <button>Cash</button>
                      <input type="hidden" value="{{product.name}}" name="name">
                      <input type="hidden" value="{{price.interval}}" name="recurring">
                      <input type="hidden" value="{{price.price}}" name="price">
                      <input type="hidden" value="{{price.id}}" name="id">
                      <input type="hidden" value="{{product.id}}" name="product">
                      <input type="hidden" value="cash" name="payment">
                    </form>
                  </section>
                </section>
              </li>
            {% endfor %}
          </ul>
      </article>
    {% endfor %}  
    </section>
  </section>
{% endfor %}

{% endif %}