{% if membership %}
{% for category in membership %}
  <section>
    <h3>{{category.name}}</h3>
    <section>
    {% for product in category.products %}
      <article>
        <section>
          <h2>{{product.name}}</h2>
          <p>{{product.description}}</p>
        </section>
          <ul class="price-list">
            {% for price in product.prices %}
              <li>
                <section>
                  {% if price.type %}
                    <small>{{price.name}}</small>
                    {% if price.description %}
                    <small>{{price.description}}</small>
                    {% endif %}          
                  {% endif %}
                  <section>
                    <p>{{price.price}}</p>
                    {% if price.interval !== 'once' %}
                      <p><small>per {{price.interval_count || 1}}</small><small>{{price.interval}}</small></p>          
                    {% endif %}
                    {% if price.interval === 'once' and category.name === 'classes' %}
                      {% set classes = 'class' if price.qty === 1 else 'classes' %}
                      <p><small>{{price.qty}}</small><small>{{classes}}</small></p>          
                    {% endif %}
                    <form action="/stripe-customer/">
                      <button>Buy</button>
                      <input type="hidden" value="{{category.name}}" name="category">
                      <input type="hidden" value="{{product.name}}" name="name">
                      <input type="hidden" value="{{price.name}}" name="type">
                      <input type="hidden" value="{{price.interval}}" name="recurring">
                      <input type="hidden" value="{{price.price}}" name="price">
                      <input type="hidden" value="{{price.id}}" name="id">
                      <input type="hidden" value="{{product.id}}" name="product">
                    </form>
                  </section>
                </section>
              </li>
            {% endfor %}
          </ul>
      </article>
    {% endfor %}  
    </section>
  </section>
{% endfor %}

{% endif %}