<section>
  <h2>tools</h2>
   <article>
    <header>
      <p>join family members</p>
    </header>
    <section>
      {{ linkc(cms.links['join-family-members.link'], width="64", id='join-family-members') }}
    </section>
    <footer></footer>
  </article>
  <article>
    <header>
      <p>card</p>
    </header>
    <section>
      {{ linkc(cms.links['wwsc-card.link'], width="64", id='card') }}
    </section>
    <footer></footer>
  </article>
  <article>
    <header>
      <p>finder</p>
    </header>
    <section>
      {{ linkc(cms.links['finder.link'], width="64", id='finder') }}
    </section>
    <footer></footer>
  </article>
  <article>
    <header>
      <p>age</p>
    </header>
    <section>
      {{ linkc(cms.links['age.link'], width="64", id='age') }}
    </section>
    <footer></footer>
  </article>

    <article>
    <header>
      <p>new social members</p>
    </header>
    <section>
      {{ linkc(cms.links['new-social-members.link'], width="64", id='new-social-members') }}
    </section>
    <footer></footer>
  </article>
</section>
