---
layout: 'base.njk'
---


<section>
  <h2>customers</h2>
  <article>
    <header>
      {{iconc(cms.image.ashbourne)}}
    </header>
    <section>
      <p>{{b(ashbourne.count)}}<span>records</span></p>
      <p>{{b(ashbourne.members)}}<span>members</span></p>
    </section>
    <footer></footer>
  </article>
  {{iconc(cms.icons['arrow-right-circle-fill'])}}
  <article>
    <header>
     {{iconc(cms.image.stripe)}}
    </header>
    <section>
      <p>{{b(stripe.subscriptions)}}<span>subscriptions</span></p>
      <p>{{b(stripe.customers)}}<span>customers</span></p>
    </section>
    <footer></footer>
  </article>
  {{iconc(cms.icons['arrow-right-circle-fill'])}}
  <article>
    <header>{{iconc(cms.image.sumup)}}</header>
    <section>
      <p>{{b(sumup.active)}}<span>registered</span></p>
      <p>{{b(sumup.members)}}<span>members</span></p>
    </section>
    <footer></footer>
  </article>
  
</section>
