---
layout: 'base.njk'
---
<section id="sales">
  <h2>sales</h2>
  <article id="ashbourne">
    <header>
      {{iconc(cms.image['ashbourne.logo'])}}
    </header>
    <section>
      <p><span id="ashbourne:today">£0</span><span>today</span></p>
      <p><span id="ashbourne:mtd">£0</span><span>month-to-date</span></p>
      <p><span id="ashbourne:ytd">£0</span><span>year-to-date</span></p>
    </section>
    <footer></footer>
  </article>

  <article id="sumup">
    <header>
      {{iconc(cms.image['sumup.logo'])}}
    </header>
    <section>
      <p><span id="sumup:today">£0</span><span>today</span></p>
      <p><span id="sumup:mtd">£0</span><span>month-to-date</span></p>
      <p><span id="sumup:ytd">£0</span><span>year-to-date</span></p>
    </section>
    <footer></footer>
  </article>

  <article id="zettle">
    <header>
      {{iconc(cms.image['zettle.logo'])}}
    </header>
    <section>
      <p><span id="zettle:today">£0</span><span>today</span></p>
      <p><span id="zettle:mtd">£0</span><span>month-to-date</span></p>
      <p><span id="zettle:ytd">£0</span><span>year-to-date</span></p>
    </section>
    <footer></footer>
  </article>

  <article id="stripe">
    <header>
      {{iconc(cms.image['stripe.logo'])}}
    </header>
    <section>
      <p><span id="stripe:today">£0</span><span>today</span></p>
      <p><span id="stripe:mtd">£0</span><span>month-to-date</span></p>
      <p><span id="stripe:ytd">£0</span><span>year-to-date</span></p>
    </section>
    <footer></footer>
  </article>

  <article id="wwsc">
    <header>
      {{iconc(cms.image.favicon, width=64)}}
    </header>
    <section>
      <p><span id="wwsc:today">£0</span><span>today</span></p>
      <p><span id="wwsc:mtd">£0</span><span>month-to-date</span></p>
      <p><span id="wwsc:ytd">£0</span><span>year-to-date</span></p>
    </section>
    <footer></footer>
  </article>

</section>

<section id="customers">
  <h2>customers</h2>
  <article>
    <header>
      {{iconc(cms.image['ashbourne.logo'])}}
    </header>
    <section>
      <p>{{b(ashbourne.count)}}<span>records</span></p>
      <p>{{b(ashbourne.members)}}<span>members</span></p>
    </section>
    <footer></footer>
  </article>
  {{iconc(cms.icons['arrow-right-circle-fill'])}}
  <article>
    <header>
     {{iconc(cms.image['stripe.logo'])}}
    </header>
    <section>
      <p>{{b(stripe.subscriptions)}}<span>subscriptions</span></p>
      <p>{{b(stripe.customers)}}<span>customers</span></p>
    </section>
    <footer></footer>
  </article>
  {{iconc(cms.icons['arrow-right-circle-fill'])}}
  <article>
    <header>{{iconc(cms.image['sumup.logo'])}}</header>
    <section>
      <p>{{b(sumup.active)}}<span>registered</span></p>
      <p>{{b(sumup.members)}}<span>members</span></p>
    </section>
    <footer></footer>
  </article>
</section>

<section id="demographics">
  <h2>demographics</h2>
  <canvas id="gender-chart"></canvas>
  <canvas id="ages-chart"></canvas>
</section>