<footer>


  <section>
    <p>Copyright &copy 2022 - 
      <span>West Warwickshire Sports Complex</span>
      <span>WWSC</span>
    </p>
    <p>
      <span>(Company registered in England: )</span>
      <span>(Company Reg:)</span>
    </p>
  </section>
</footer>